<div class="group">
  <ul>
    <li *ngFor="let group of groups">
      <a [routerLink]="['group',group.Name,'messages']">{{
            group.Name
            }}</a>
    </li>
    <li>
            <md-input-container class="example-full-width">
                <input mdInput type="text" placeholder="Create Group.. " class="form-control" [(ngModel)]="newGroup.name" name="groupName">
                <div mdSuffix md-raised-button (click)="createGroup()">
                    <md-icon>
                        playlist add
                    </md-icon>
                </div>
            </md-input-container>
    </li>
  </ul>
</div>
