<p>
  groups works!
</p>
    <nav>
    <a (click)="onSelect('abc')" routerLinkActive="active">Crisis Center</a>
    <a (click)="onSelect('xyz')" routerLinkActive="active">Heroes</a>
  </nav>
  <router-outlet></router-outlet>

<div >
    <ul>
    <li *ngFor="let group of groups"> {{
        group.Name
        }}</li>
    </ul>
    <form (ngSubmit)="createGroup()">
        <div >
            <input type="text"  placeholder="Channel Name" [(ngModel)]="newGroup.name" name="groupName">
        </div>
        <input type="submit"  value="Create Channel">
</form>
    
</div>